<div class="container">
  <app-sidebar></app-sidebar>

  <main class="content">
    <h1>Edit Food Item</h1>

    <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Item Name</label>
        <input type="text" formControlName="name" />
      </div>

      <div class="form-group">
        <label>Quantity</label>
        <input type="number" formControlName="qty" />
      </div>

      <div class="form-group">
        <label>Expiry Date</label>
        <input type="date" formControlName="expiry" />
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" formControlName="category">
            <option value="">-- Select Category --</option>
            <option>Dairy</option>
            <option>Grain</option>
            <option>Meat</option>
            <option>Vegetables</option>
            <option>Fruits</option>
            <option>Others</option>
        </select>
        </div>

        <div class="form-group">
        <label for="storage">Storage Location</label>
        <select id="storage" formControlName="storage">
            <option value="">-- Select Storage --</option>
            <option>Fridge</option>
            <option>Freezer</option>
            <option>Pantry</option>
            <option>Others</option>
        </select>
        </div>



      <div class="form-group">
        <label>Notes</label>
        <textarea formControlName="notes"></textarea>
      </div>

      <div class="form-actions">
        <button type="button" class="btn-secondary" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn-primary" [disabled]="foodForm.invalid">Update</button>
      </div>
    </form>
  </main>
</div>
