<div class="logo">
  <img src="assets/images/image1.png" alt="Food Shield Logo" class="logo-img">
</div>

<div class="container">
  <h2>Registration</h2>
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
    <div class="input-group">
      <label for="name">Name*:</label>
      <input type="text" id="name" name="name" ngModel required placeholder="eg) Junhyeong Kim" #nameInput>
      <span class="icon clear" (click)="clearInput(nameInput)">&#10006;</span>
    </div>

    <div class="input-group">
      <label for="email">Email*:</label>
      <input type="email" id="email" name="email" ngModel required placeholder="eg) example@gmail.com" #emailInput (input)="onEmailChange(emailInput.value)">
      <span class="icon clear" (click)="clearInput(emailInput)">&#10006;</span>
      <div class="error-message" *ngIf="emailError">{{ emailError }}</div>
    </div>

    <div class="input-group">
      <label for="password">Password*:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="eg) Junkaiyane230@" #passwordInput (input)="onPasswordChange(passwordInput.value)">
      <span class="icon clear" (click)="clearInput(passwordInput)">&#10006;</span>
      <div class="error-message" *ngIf="passwordError">{{ passwordError }}</div>
    </div>

    <div class="input-group">
      <label for="confirmPassword">Confirm Password*:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required placeholder="eg) *************" #confirmPasswordInput>
      <span class="icon clear" (click)="clearInput(confirmPasswordInput)">&#10006;</span>
    </div>

    <div class="input-group">
      <label for="householdSize">Household Size(Optional):</label>
      <select id="householdSize" name="householdSize" ngModel required>
        <option value="" disabled selected>Size</option>
        <option value="No">No</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8+">8+</option>
      </select>
      
    </div>

    <div class="input-group">
      <label for="dob">Date of Birth*:</label>
      <input type="date" id="dob" name="dob" ngModel required #dobInput>
      <span class="icon calendar-icon" (click)="openDatePicker(dobInput)">📅</span>
      <span class="icon clear" (click)="clearInput(dobInput)">&#10006;</span>
    </div>

    <button type="submit" class="register-btn">Register</button>
  </form>
  
  <div class="login-link">
    <p>Already have an account? <a href="#" (click)="goToLogin()">Go to log in</a></p>
  </div>
</div>
