<div class="logo">
  <img src="assets/images/logo.png" alt="Food Shield Logo" class="logo-img">
</div>

<div class="container">
  <h2>Registration</h2>
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
    <div class="input-group">
      <label for="name">Name*:</label>
      <input type="text" id="name" name="name" ngModel required placeholder="eg) Junhyeong Kim">
      <span class="icon clear" (click)="clearInput(nameInput)" #nameInput>&#10006;</span>
    </div>

    <div class="input-group">
      <label for="email">Email*:</label>
      <input type="email" id="email" name="email" ngModel required placeholder="eg) example@gmail.com">
      <span class="icon clear" (click)="clearInput(emailInput)" #emailInput>&#10006;</span>
    </div>

    <div class="input-group">
      <label for="password">Password*:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="eg) Junkaiyane230@">
      <span class="icon clear" (click)="clearInput(passwordInput)" #passwordInput>&#10006;</span>
    </div>

    <div class="input-group">
      <label for="confirmPassword">Confirm Password*:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required placeholder="eg) *************">
      <span class="icon clear" (click)="clearInput(confirmPasswordInput)" #confirmPasswordInput>&#10006;</span>
    </div>

    <div class="input-group">
      <label for="householdSize">Household Size:</label>
      <select id="householdSize" name="householdSize" ngModel required>
        <option value="" disabled selected>Size</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5+">5+</option>
      </select>
      <span class="icon">&#9660;</span>
    </div>

    <div class="input-group">
      <label for="dob">Date of Birth*:</label>
      <input type="date" id="dob" name="dob" ngModel required>
      <span class="icon">&#128197;</span>
    </div>

    <button type="submit" class="register-btn">Register</button>
  </form>
</div>
