<h1>Food inventory</h1>
<h3>> Add food item</h3>

<form (ngSubmit)="saveItem()">
  <label>Item name*:</label>
  <input type="text" [(ngModel)]="item.name" name="name" required>

  <label>Qty*:</label>
  <input type="number" [(ngModel)]="item.qty" name="qty" required>

  <label>Expiry Date*:</label>
  <input type="date" [(ngModel)]="item.expiry" name="expiry" required>

  <label>Category*:</label>
  <input type="text" [(ngModel)]="item.category" name="category" required>

  <label>Storage:</label>
  <input type="text" [(ngModel)]="item.storage" name="storage">

  <label>Notes:</label>
  <textarea [(ngModel)]="item.notes" name="notes"></textarea>

  <button type="submit">Save</button>
  <button type="button" (click)="cancel()">Cancel</button>
</form>
