<aside class="sidebar">
  <div class="profile">
    <img src="assets/avatar.png" alt="avatar">
    <h2>HELLO,<br>{{username}}</h2>
  </div>

  <nav class="menu">
    <a routerLink="/manage-inventory" routerLinkActive="active" class="menu-item">📦 Manage inventory</a>
    <a routerLink="/inventory" routerLinkActive="active" class="menu-item active">🔎 Browse inventory</a>
    <a routerLink="/analytics" routerLinkActive="active" class="menu-item">📊 View Analytics</a>
    <a routerLink="/meals" routerLinkActive="active" class="menu-item">🍽 Plan Weekly Meals</a>
    <a routerLink="/notifications" routerLinkActive="active" class="menu-item">🔔 Notification</a>
    <a routerLink="/account-settings" routerLinkActive="active" class="menu-item">⚙️ Account Settings</a>
  </nav>
</aside>
